apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook
  namespace: guestbook-staging
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
    spec:
      containers:
      - image: ghcr.io/csz-akuity/guestbook:0.1.1762403815-b4d81e637251a6fbe31bcd8b6532e780baf875df
        name: guestbook
        ports:
        - containerPort: 3000
          name: http
