apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook
  namespace: guestbook-dev
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
    spec:
      containers:
      - image: ghcr.io/csz-akuity/guestbook:0.1.1763057168-23cd76124bd09b6a702267b8ca974a6a3e581879
        name: guestbook
        ports:
        - containerPort: 3000
          name: http
